{
  "parser": "babel-eslint",
  "extends": ["prettier", "prettier/react", "eslint:recommended"],
  "parserOptions": {
    "ecmaVersion": 2016,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["prettier", "react", "jsx-a11y", "import", "jest"],
  "env": {
    "browser": true,
    "es6": true,
    "jest/globals": true
  },
  "rules": {
    "camelcase": "warn",
    "global-require": "warn",
    "no-console": "off",
    "no-multi-assign": "off",
    "no-param-reassign": "warn",
    "no-unused-vars": "warn",
    "react/jsx-uses-vars": "error"
  }
}
